/**
 * @file Details editor component styles.
 * @author Alexey Ptitsyn <alexey.ptitsyn@gmail.com>
 * @copyright Alexey Ptitsyn <alexey.ptitsyn@gmail.com>, 2022
 */

.details-component {
  padding: 10px;

  &__buttons {
    margin-top: 10px;

    button {
      margin: 5px;

      cursor: pointer;

      &:first-child {
        margin-left: 0;
      }
   }
  }

  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }

  input:not([type="checkbox"]) {
    display: block;
    box-sizing: border-box;
    padding: 4px;
    width: 100%;

    border: 1px solid #002171;
    border-radius: 4px;

    outline: none;
  }

  textarea {
    display: block;
    box-sizing: border-box;
    padding: 4px;
    width: 100%;
    height: 300px;

    resize: vertical;

    border: 1px solid #002171

    ;
    border-radius: 4px;

    outline: none;
  }
}