/**
 * @file List news items style.
 * @author Alexey Ptitsyn <alexey.ptitsyn@gmail.com>
 * @copyright Alexey Ptitsyn <alexey.ptitsyn@gmail.com>, 2022
 */

 .list {
  padding: 10px;
}

.list-item {
  margin: 5px 0;
  padding: 10px;
  
  background: #CFD8DC;
  border-radius: 10px;
  
  &__header {
    margin: 0 0 5px 0;

    &-link {
      font-weight: bold;
      font-size: 15px;
      color: #212121;
      
      &:hover {
        color: #424242;
      }
    }
  }
  
  &__image {
    margin: 0 0 5px 0;
    
    &-picture {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }
  
  &__description {
    text-indent: 5px;
  }
}
