/**
 * @file Root component style.
 * @author Alexey Ptitsyn <alexey.ptitsyn@gmail.com>
 * @copyright Alexey Ptitsyn <alexey.ptitsyn@gmail.com>, 2022
 */

body {
  width: 400px;
  height: 600px;
  margin: 0;
  background: #ECEFF1;
  color: #263238;
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.container {
  
}

.navigation {
  padding: 10px;
  background: #B0BEC5;
  
  &__tab {
    display: inline-block;
    margin: 3px;
    padding: 5px;
    
    background: #607D8B;
    border-radius: 5px;
    text-decoration: none;
    color: #CFD8DC;
    
    user-select: none;
    cursor: pointer;

    &.navigation_tab_selected {
      color: #ECEFF1;
      background: #455A64;
    }
    
    &:hover {
      color: #ECEFF1;
      background: #90A4AE;
    }
    
    &:active {
      background: #263238;
    }
  }
}
